.dashboard {
    width: min-content;
    margin: 20px auto;
}

.header {
    display: flex;
}

.infoTable {
    width: 80%;
}

.controls {
    width: 20%;
}

button {
    margin: 5px;
    height: 35%;
    width: -webkit-fill-available;
}
